* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  html {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #ffc0cb;
    font-family: sans-serif;
    overflow: hidden;
    height: 100vh;
  }
  
  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
  }
  
  .panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: flex 2s ease-in-out;
  }
  
  .panel.left {
    background: url('https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-pro-family-hero?wid=940&hei=1112&fmt=png-alpha&.v=1631220221000') center 1% / cover no-repeat;
  }
  
  .panel.right {
    background: url("https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6465/6465022_sd.jpg;maxHeight=640;maxWidth=550") center 1% / cover no-repeat;
  }
  
  .buy-now {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: 2px solid white;
    font-size: 1.2rem;
    transition: background 0.1s;
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-button {
    top: 255px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .right-button {
    top: 255px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .buy-now:hover {
    background-color: white;
    color: black;
    text-align: center;
  }
  
  .overlay {
    background-color: rgba(117, 99, 99, 0.5);
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateY(0);
  }
  
  .overlay h1 {
    font-size: 5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .overlay a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: 2px solid white;
    font-size: 1.2rem;
    transition: background 0.1s;
    height: 70px;
  }
  
  .overlay a:hover {
    background-color: white;
    color: black;
    text-align: center;
  }
  
  .container {
    background-color: pink;
  }
  
  .container.hover-left .left {
    flex: 3;
  }
  
  .container.hover-left .right {
    flex: 1;
  }
  
  .container.hover-right .left {
    flex: 1;
  }
  
  .container.hover-right .right {
    flex: 3;
  }
  